* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(233, 233, 233);
    background-color: #212425;
}

.center-page {
    max-width: 95%;
    min-width: 500px;
    margin: auto;
    padding-bottom: 20px;
    background-color: rgb(54, 54, 54);
    border-radius: 0.3rem;
}

.center-text {
    text-align: center;
    padding: 1px 0;
}

.btn {
    color: rgb(214, 214, 214);
    font-weight: 600;
    text-decoration: none;
    padding: 3px 10px;
    margin: 10px;
    background-color: rgb(83, 83, 83);
    border-radius: 2px;
}